.control-container {
  height: 100px;
  width: 100px;
  text-align: center;
}

.control-circle {
  background-color: rgba(214, 214, 214, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: #6c6c6c;
  border-width: 1px;
}

.navigation {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  color: #6c6c6c;
}

.navigation.active {
  color: #f67373;
}

.flight-up {
  margin-left: auto;
  margin-right: auto;
  top: 5px;
}

.flight-down {
  margin-left: auto;
  margin-right: auto;
  top: 4px;
}

.middle-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px 8px 5px;
}

.yaw-right,
.yaw-left {
  width: 20px;
  height: 20px;
  color: #6c6c6c;
}

.yaw-right.active,
.yaw-left.active {
  color: #f67373;
}